{{define "event"}}
<div style="display: flex; margin-bottom: 1em">
  <form action="/occur" method="POST" style="margin-right: 1em">
    <input type="hidden" name="id" value="{{.Id}}" />
    <input type="submit" value="do" />
  </form>
  <details>
    <summary style="list-style: none;">{{ .TimelinessIndicator }} {{.Title}}: {{.HowLong}}</summary>
    <a href="/events/{{ .Id }}/edit">edit</a>
    <p>Last done {{ .LastDone }}</p>
    {{ if .GetDayHistory.HasHistory }}
    <table style="border: 0.5px solid gray;">
      {{ range $row := .GetDayHistory.DayGrid }}
      <tr style="height: 10px;">
        {{ range $day := $row }}
        <td style="width: 10px; margin: 1px; border: 0.5px solid white; {{ if not $day.IsZero }}background-color: green;{{ end }}">
        </td>
        {{ end }}
      </tr>
      {{ end }}
    </table>
    {{ end }}
  </details>
</div>
{{end}}

<html lang="en">
  <head>
    <title>elapsed</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="How long has it been?" />
  </head>

  <body>
    <a href="/new">new</a>

    {{ range $fs := .SortedFreqSpecs }}
    {{ $events := index $.Events $fs.Name }}
    {{ if $events }}
    <div>
      <h2>{{ $fs.Name }}</h2>
      {{range $events}}
      {{template "event" .}}
      {{end}}
    </div>
    {{end}}
    {{end}}
  </body>
</html>
